<div class="main-content">
  <div *ngIf="!items" class="loading-section">
    <div class="loader">
        Loading ...
    </div>
  </div>
  <div *ngIf="items">
  <ol>
    <li *ngFor="let item of items | slice:0:30" class="post">
        <app-item class="item-block" [item]="item"></app-item>
    </li>
  </ol>
      <div class="nav">
          <a href="" class="previous">
            < Previous
          </a>
          <a href="" class="more">
            More >
          </a>
        </div>
  </div>
</div>
