<div class="main-content">
  <div *ngIf="!items" class="loading-section">
    <div class="loader">
        Loading ...
    </div>
  </div>
  <div *ngIf="items">
  <ol start="{{ listStart }}">
    <li *ngFor="let item of items" class="post">
        <app-item class="item-block" [item]="item"></app-item>
    </li>
  </ol>
      <div class="nav">
          <a *ngIf="listStart !== 1" [routerLink]="['/' + storiesType, pageNumber - 1]" class="previous">
            < Previous
          </a>
          <a *ngIf="items.length === 30" [routerLink]="['/' + storiesType, pageNumber + 1]" class="more">
            More >
          </a>
        </div>
  </div>
</div>
